.toolbarWrapper {
    display: flex;
    flex-direction: row;
    position: relative;
}

.toolbar {
    width: 50px;
    background: #2b3140;
}

.actionBar {
    width: 250px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.exampleButton {
    color: #fff;
    background-color: blue;
    margin-top: 15px;
}
