.header {
    height: 50px;
    background-color: #2b3140;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navigation {
    display: flex;
    flex-direction: row;
    width: 60px;
    justify-content: space-around;
}

.backwardButton {
    width: 20px;
    height: 20px;
    background-image: url('./img/back.svg');
    cursor: pointer;
}

.forwardButton {
    width: 20px;
    height: 20px;
    background-image: url('./img/forward.svg');
    cursor: pointer;
}
